<div class="content-chat" fxLayout="column" *ngFor="let contact of model" class="contact-list">
  <div fxLayout="row" fxFlex >
    <div fxLayoutAlign="center center" fxFlex="30">
      <div mat-card-avatar class="avatar-header" style="background-image: url('{{contact.contactImage}}');"></div>
    </div>
    <div fxLayoutAlign="start stretch" fxFlex="70">
      <div fxLayout="column" fxFlex>
        <div fxLayout="row" fxFlex>
          <div fxLayoutAlign="start" class="contact-name" fxFlex>
            <strong>
              {{contact.senders.data[0].name | titlecase}}
            </strong>
          </div>
          <div fxLayoutAlign="end" class="contact-message" fxFlex>
            {{contact.updated_time | date:'shortTime' }}
          </div>
        </div>
        <div fxLayout="row" class="contact-message" fxFlex>
          <p class="overflow-ellipsis">{{contact.snippet}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
