<div class="contact-list-paddingTop">
  <div fxLayout="column wrap" *ngFor="let contact of model" class="contact-list">
    <div fxLayout="row wrap" fxFlex>

      <div fxLayoutAlign="center center" fxFlex="30">
        <div mat-card-avatar class="avatar-header" style="background-image: url('{{contact.contactImage}}');"></div>
      </div>

      <div fxLayoutAlign="start stretch" fxFlex="70">

        <div fxLayout="column wrap" fxFlex>
          <div fxLayout="row wrap" fxFlex>
            <div fxLayoutAlign="start" class="contact-name" fxFlex>
              <strong>
                {{contact.contactName | titlecase}}
              </strong>
            </div>
            <div fxLayoutAlign="end" class="contact-message" fxFlex>
              {{contact.created | date:'shortTime' }}
            </div>
          </div>
          <div fxLayout="row wrap" class="contact-message" fxFlex>
            <p class="overflow-ellipsis">test</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
