<div fxLayout="column">
  <div fxLayoutAlign="center" fxFlex>
    <div fxLayout="column" fxFlex>
      <div fxLayout="row" fxFlex>
        <div fxLayoutAlign="center" fxFlex>
          <div mat-card-avatar class="avatar-profile"
            style="background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png');">
          </div>
        </div>
      </div>
      <div fxLayout="row" fxFlex>
        <div fxLayoutAlign="center" fxFlex>
          <h2 style="padding-top: 10px; padding-left: 5px;">Thanayut Phinsuwan</h2>
        </div>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="center" fxFlex>
    <div fxLayout="column" fxFlex>
      <div fxLayout="row" fxFlex>
        <div fxLayoutAlign="start" fxFlex="15">
          <h3 style="margin-top: 15px; margin-bottom: 15px; padding-left:10px;">Note</h3>
        </div>
        <div fxLayoutAlign="start" fxFlex>
          <h3 style="margin-top: 15px; margin-bottom: 15px; padding-left:5px;">0</h3>
        </div>
        <div fxLayoutAlign="end" fxFlex>
          <button mat-icon-button color="primary" (click)="node()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <div fxLayout="row" fxFlex>
        <div fxLayoutAlign="start" fxFlex>
          1
        </div>
        <div fxLayoutAlign="end" fxFlex>
          2
        </div>
      </div>
    </div>
  </div>

  <!-- <div fxLayout="row" fxFlex>
    <div fxLayoutAlign="start" fxFlex>
      1
    </div>
    <div fxLayoutAlign="end" fxFlex>
      2
    </div>
  </div> -->
</div>
