
<div fxFill fxLayout="column" class="content-chat">
  <div fxLayout="row" fxLayoutAlign="start">
    <div fxLayoutAlign="center center" fxFlex="10">
      <div mat-card-avatar class="avatar-header-chat" style="background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png');">
      </div>
    </div>
    <div fxLayoutAlign="start stretch" fxFlex="90">
      <p id='main-contact'>
        ttttttttttttttttttttttttttttttttttttttttttttttttt
      </p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start">
    <div fxLayoutAlign="center center" fxFlex="10">
      <div mat-card-avatar class="avatar-header-chat" style="background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png');">
      </div>
    </div>
    <div fxLayoutAlign="start stretch" fxFlex="90">
      <p id='main-contact'>
        tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
      </p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end">
    <div>
      <p id='main-user'>
        uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu
      </p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start">
    <div fxLayoutAlign="center center" fxFlex="10">
      <div mat-card-avatar class="avatar-header-chat" style="background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png');">
      </div>
    </div>
    <div fxLayoutAlign="start stretch" fxFlex="90">
      <p id='main-contact'>
        tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
      </p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end">
    <div>
      <p id='main-user'>
        uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu
      </p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end">
    <div>
      <p id='main-user'>
        uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu
      </p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end">
    <div>
      <p id='main-user'>
        uuuuuuuuuuu
      </p>
    </div>
  </div>
</div>
