.content-chat {
  padding: 10px;
  overflow: scroll !important;

  #main-contact {
    // width: 50vh;
    max-width: 50vh;
    height: auto;
    word-wrap: break-word !important;
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
  }

  #main-user {
    // width: 50vh;
    max-width: 50vh;
    height: auto;
    word-wrap: break-word !important;
    background-color: #87cc2d;
    border: 1px solid #87cc2d;
    padding: 10px;
    border-radius: 15px;
  }

  .avatar-header-chat {
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }
}
