<div fxFill fxLayout="column" class="content-chat">
  <div *ngFor="let chatFB of chatData">
    <div fxLayout="row" fxLayoutAlign="start" *ngFor="let item of chatFB?.messaging">
      <div fxLayoutAlign="center center" fxFlex="10" *ngIf="!chatFB.messaging_type">
        <div mat-card-avatar class="avatar-header-chat"
          style="background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png');">
        </div>
      </div>
      <div fxLayoutAlign="start stretch" fxFlex="90">
        <div *ngIf="!chatFB.messaging_type">
          <p id='main-contact'>
            {{item.message.text}}
          </p>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end">
      <div *ngIf="chatFB.messaging_type">
        <p id='main-user'>
          {{chatFB.message.text}}
        </p>
      </div>
    </div>
  </div>
</div>
