<div class="list mat-elevation-z1" fxLayout="column">

  <div class="list-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

    <app-board-list-edit-name fxFlex="1 0 auto" [list]="list" (listNameChanged)="onListNameChanged($event)">
    </app-board-list-edit-name>

    <div fxFlex="0 1 auto">
      <button mat-icon-button class="list-header-option-button" [matMenuTriggerFor]="listMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #listMenu="matMenu">
        <button mat-menu-item (click)="removeList(list.id)">Remove List</button>
      </mat-menu>
    </div>

  </div>
  <div class="list-content" fxLayout="column">

    <div class="list-cards ngx-dnd-container" [model]="list.idCards" ngxDroppable="card" (out)="onDrop($event)"
      #listScroll>

      <app-board-card-demo ngxDraggable class="app-board-card-demo ngx-dnd-item" (click)="openCardDialog(cardId)" *ngFor="let cardId of list.idCards"
        [model]="cardId" [cardId]="cardId"></app-board-card-demo>

    </div>
  </div>

  <div class="list-footer">
    <!-- <scrumboard-board-add-card (cardAdded)="onCardAdd($event)"></scrumboard-board-add-card> -->
    <app-board-add-card-demo (cardAdded)="onCardAdd($event)"></app-board-add-card-demo>
  </div>

</div>
